@model Screenings
<div class="row">
    <h2>Form create a new screening</h2>
    <form asp-action="Create" method="POST">
        <div class="mb-3 mt-3">
            <label for="name">Name movie:</label>
            <select asp-items="@ViewBag.listMovieTitle" class="form-select"
                    asp-for="movie_id"></select>
        </div>
        <div class="mb-3 mt-3">
            <label for="genre">Genre:</label>
            <select asp-items="@ViewBag.listMovieGenre" class="form-select"
                    asp-for="movie_id"></select>
        </div>
        <div class="mb-3 mt-3">
            <label for="theatername">Theater name:</label>
            <select asp-items="@ViewBag.listTheaterName" class="form-select"
                    asp-for="theater_id"></select>
        </div>
        <div class="mb-3 mt-3">
            <label for="theatername">Theater location:</label>
            <select asp-items="@ViewBag.listTheaterLocation" class="form-select"
                    asp-for="theater_id"></select>
        </div>
        <div class="mb-3 mt-3">
            <label for="start">Start movie:</label>
            <input type="time" class="form-control"
                   asp-for="start_time" />
            <span asp-validation-for="start_time" , class="text-danger"> </span>
        </div>
        <div class="mb-3 mt-3">
            <label for="end">End movie:</label>
            <input type="time" class="form-control"
                   asp-for="end_time" />
            <span asp-validation-for="end_time" , class="text-danger"> </span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>