@{
    ViewData["Title"] = "Home Page";

}

<div class="text-center ">
   <h1>Welcome to my project</h1>
    <img class="img-dashboad" src="../../LayoutAdmin/assets/images/faces/438231943_882061410623844_2516153722982002531_n.jpg" alt="profile">
</div>
